<section class="plan">
    <div class="showCurtain"></div>
    <div class="seatsContainer">
        <div class="seats" *ngIf="mapDetail; else Loading">
            <ng-container *ngIf="mapDetail; else NotFound">
                <div *ngFor="let row of mapDetail.seats; index as rowIndex">
                    <button (click)="onSeatClicked(rowIndex, columnIndex)" *ngFor="let column of row; index as columnIndex">
                        <svg-icon src="./../../assets/icon/seat-2.svg" class="svg-icon"
                                  [ngClass]="column ? 'reserved' : 'available'"></svg-icon>
                    </button>
                </div>

            </ng-container>

        </div>
    </div>
</section>


<ng-template #NotFound>
    <div class="noData">
        موردی یافت نشد
    </div>
</ng-template>
<ng-template #Loading>
    <div class="loading">
        در حال بارگزاری
    </div>
</ng-template>
