* {
    margin: 0;
    padding: 0;
}

//using global style to all svg files in project
.svg-icon {
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    overflow: hidden;
    width: 100%;
}
